.pagination-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2rem;
  

    & button {
        background-color: #fbf2c0;
        padding: 0.5rem 1rem;
    }

    & button:hover {
        font-weight: 700;
    }
    & button:focus {
        outline: 2px solid brown;
        outline-offset: 2px;
    }
}

/* colors */
/* --white: #ffffff;
--green: #333d29;
--coffee: #43281c;
--vanilla: #f1e3d3;
--lemon: #fbf2c0;
--mocha: #7f4f24;
--tan: #ddb892;
--blue: #3e80b6; */