.product-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    animation: floatin 2.5s ease-out;
    
   

    & i {
        padding-inline-start: 0.5rem;
    }


    
}

.categories {
    display: grid;
    gap: 1rem;
    padding-inline: 1.5rem;
    margin-block-end: 2rem;

    & .sort {
        position: sticky;
        top: 60px;
        align-items: center;
        width: fit-content;
        display: flex;
        flex-direction: column;
    }
    
    & .sort Button{
        background-color: transparent;
        border: 3px solid #E8E8E8;
        animation: floatin 2.5s ease-out;
    }

    & .dropdown-content{
        padding-top: 0.5rem;
        list-style: none;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem; 
    }

    & span:hover {
        cursor: pointer;
        border-radius: 15px;
        padding: 5px;
        background-color: aliceblue ;
    }

    & i {
        padding-inline-start: 0.5rem;
    }
}

@keyframes floatin {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (width >= 800px) {
    .categories {
        display: flex;
        justify-content: space-between;
    }


}