
summary {
    position: relative;
}

summary::marker{
    content: none;
}

summary::before,
summary::after {
    content: "";
}


summary::after {
    content: '';
    display: inline-block;
    width: .75em;
    height: 0;
    border-bottom: 2px solid;
    margin-left: .5em; 
    vertical-align: middle;
    transform: translateY(-50%);
}


summary::after {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
  }
  [open] summary::after {
    transform: rotate(0deg);
  }