.product-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    animation: floatin 2.5s ease-out;
    
   

    & i {
        padding-inline-start: 0.5rem;
    }


    
}

.categories {
    display: grid;
    gap: 1rem;
    padding-inline: 1.5rem;
    margin-block-end: 2rem;
    /* border: 3px solid red; */
    /* height: 300px; */

    & .sort {
        position: sticky;
        top: 60px;
    }
    
    & .sort Button{
        background-color: transparent;
        border: 3px solid #E8E8E8;
        animation: floatin 2.5s ease-out;
      
    }
    & i {
        padding-inline-start: 0.5rem;
    }
}

@keyframes floatin {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (width >= 800px) {
    .categories {
        display: flex;
        justify-content: space-between;
    }


}