body {
    background: #ddb892;
    font-size: calc(0.75em + 1vmin);
    font-family: "Ubuntu", sans-serif;
    /* position: relative; */
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

