.Cart-Container {
    padding-block-start: 5rem;
    padding-block-end: 5rem;
    padding-inline: 2rem;
    height: 100svh;
}

.Cart-Info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    position: sticky;
    margin-block-end: 50px;
}

.CartHolder {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (width >= 800px) {
    .Cart-Container {
        padding-top: 150px;
    }

    .CartHolder {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: start;

    }
}
