
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  block-size: 10vh;
  background-color: #deb887;
  border-bottom: 20px double brown;
  inline-size: 100%;
  position: fixed;
  z-index: 10;
  
  & .logo-h1 {
    font-size: 1em;
  }
  

    & .rightNav {
      display: none;
      position: absolute;
      right: 0;
      width: 100%;
    }

    & .rightNav.open {
      display: grid;
      gap: 1rem;
      transform: translateX(0);
      margin-block-start: 19rem;
      min-width: 100%;
      background-color: burlywood;
      padding: 1rem;
      background: rgba(255, 255, 255, 0.37);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(16.2px);
      -webkit-backdrop-filter: blur(16.2px);
      border: 1px solid rgba(255, 255, 255, 0.3);

      & a {
        font-weight: 800;
        color: #000;
        text-decoration: none;
      }
      
      & .cart {
        cursor: pointer;
        position: relative;

        & .cartNumber {
          background-color: brown;
          color: wheat;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 20px;
          bottom: 10px;
        }
      }
    }

  }
  .leftNav .logo-h1{
   text-decoration: none;
   color: #000;
 }
  

  @media (width >= 800px) {
  .header {
    padding-inline: 2rem;
    height: 7rem;
 
  

    & .leftNav {
      font-size: 2rem;
      font-weight: bolder;
      cursor: pointer;
      padding-inline: 0;
    }
  
    & .rightNav {
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;
      left: auto;
      width: auto; 
    }
  
      & a {
        text-decoration: none;
        color: black;
        font-size: larger;
        
      }
    }
  
    & .hamburger {
      display: none;
    }
  }
  
