nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 5rem;
  background-color: burlywood;
  border-bottom: 20px double brown;
  position: fixed;
  width: 100%;

  & .leftNav {
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
  }

  .rightNav {
    display: flex;
    gap: 1rem;
    align-items: center;

    & a {
      cursor: pointer;
      font-weight: 500;
      text-decoration: none;
      color: black;
    }

    & .cart {
      cursor: pointer;
    }
  }

  & .hamburger{
    display: none;
  }

}

/* Styling the navBar for a smaller screen */
@media (max-width : 800px) {
  nav {
    padding: 0.5rem 1rem;
    
    & .hamburger{
        display: block;
      }

      & .rightNav {
        display: none;
        position: absolute;
        right: 0;
        width: 100%;
      }

    & .rightNav.open{
      display: grid;
      transform: translateX(0);
      margin-block-start: 19.6rem;
      min-width: 100%;
      background-color: burlywood;
      padding:  1rem;

      & a {
        font-weight: 500;
      }

      & .cart {
        cursor: pointer;
      }
    }
  }
}
