.CartItemContainer {
    width: 100%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 120px 1fr 20px;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0.5rem;
    /* border: 3px solid red; */
    background-color: antiquewhite;
    position: relative;
}

.CartItemImage {
    max-width: 120px;
    height: 120px;
    border-radius: 10px;
}

.CartItemImage img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.CartDetails {
    display: grid;
    height: 100%;
}

.cancelButton{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0.5rem;
}
.CartItemDelete {
    font-size: 30px;
    color: gray;
    cursor: pointer;
    margin-block-start: -100px;
}

.CartItemsInfo {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.CartActions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (width >= 800px) {

    .CartItemImage {
        width: 300px;
        height: 400px;
    }

    .CartItemImage img {
        width: 100%;
        height: 50%;
    }

    .CartItemContainer {
        width: 90%;
        height: 250px;
        
    }
    
    
}