
button {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: transform 0.2s;
    background: #ECECE9;
}
  
/* button:hover {
    font-weight: bold;
    transform: scale(1.05);
} */