.footer{
       margin-top: auto;
        background-color: brown;
        /* height: auto; */
        color: tan;
        max-width: 100%;
        

    & .footer-extras {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2rem;
    
    & ul {
        display: grid;
        gap: .2rem;
    }

    & li {
        list-style: none;
        cursor: pointer;
    }

    & li:first-child{
        text-decoration: underline;
        font-weight: 600;
    }
  }

  & .socials{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

}

.animation-text{
    overflow: hidden;
}

.slide-paragraph {
    animation: slide 20s ease-in infinite;
    white-space: nowrap;
    font-size: 26px;
    font-weight: bold;
    font-style: oblique;
}


@keyframes slide {
      0% {
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}



@media (width >= 800px){
    .footer .footer-extras{
            display: flex;
            gap: 5rem;
            justify-content: flex-start;
        
    }

}

@media (width >= 800px){
    .footer .footer-extras{
            display: grid;
            gap: 5rem;
            
        
    }

}

